<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<div class="container mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h1 class="fw-bold">Corte Mensual</h1>
            </div>
            <div class="card-body">
                <form action="/corte" method="post">
                    <div class="d-flex">
                        <select class="form-control mb-3" name="mesCompra" id="mesCompra"></select>
                        <select class="form-control mb-3" name="anioCompra" id="anioCompra"></select>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Utilidad</th>
                                <th>Costos</th>
                                <th>Ingresos</th>
                                <th>Utilidad Andrés</th>
                                <th>Utilidad Erika</th>
                                <th>Utilidad Negocio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= corteMensual ? corteMensual.sumaPrecio : "" %></td>
                                <td><%= corteMensual ? corteMensual.sumaCosto : "" %></td>
                                <td><%= corteMensual ? corteMensual.sumaGanancia : "" %></td>
                                <td><%= corteMensual ? corteMensual.sumaSujetoA : "" %></td>
                                <td><%= corteMensual ? corteMensual.sumaSujetoB : "" %></td>
                                <td><%= corteMensual ? corteMensual.sumaSujetoC : "" %></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
<script type="module" src="/web/js/corteMensual.js"></script>

<%- include("../templates/pie") %>