<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<div class="container mt-5">
    <form action="/insertarRegistro" id="formulario" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Nueva Venta</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="noNota" id="noNota" placeholder="Número de Nota" value="<%= formData.noNota || '' %>" required autofocus>
                <input class="form-control mb-3" type="text" name="nombreCliente" id="nombreCliente" placeholder="Nombre del Cliente"  value="<%= formData.nombreCliente || '' %>" required>
                <div class="d-flex">
                    <input class="form-control mb-3" type="number" name="diaCompra" id="diaCompra" placeholder="Día" value="<%= formData.diaCompra || '' %>" required>
                    <select class="form-control mb-3" name="mesCompra" id="mesCompra" ></select>
                    <select class="form-control mb-3" name="anioCompra" id="anioCompra" ></select>
                </div>
                <input class="form-control mb-3" type="text" name="proveedor" id="proveedor" placeholder="Proveedor" value="<%= formData.costo || 'Fernanda' %>" required>
                <input class="form-control mb-3" type="text" list="productos" name="producto" id="producto" placeholder="Producto" value="<%= formData.producto || '' %>" required>
                <datalist id="productos">
                    <% 
                        productos.forEach((producto) => {
                    %>
                    <option value="<%= producto.nombre %>">
                    <% 
                        }); 
                    %>  
                </datalist>
                <div class="d-flex">
                    <input class="form-control mb-3" type="text" name="precio" id="precio" placeholder="Precio" value="<%= formData.precio || '' %>" required>
                    <input class="form-control mb-3" type="text" name="costo" id="costo" placeholder="Costo" value="<%= formData.costo || '' %>">
                    <input class="form-control mb-3" type="text" name="ganancia" id="ganancia" placeholder="Ganancia" value="<%= formData.ganancia || '' %>" required>
                </div>
                <div class="d-flex">
                    <input class="form-control mb-3" type="number" name="anioQR" id="anioQR" placeholder="Año del código QR" value="<%= formData.precio || '' %>" required>
                    <input class="form-control mb-3" type="text" name="codigoQR" id="codigoQR" placeholder="Código QR" value="<%= formData.codigoQR || '' %>" required>
                </div>
                <label class="d-block text-center font-weight-bold mb-3" style="font-size: 1.5rem;">Utilidades del producto</label>
                <div class="d-flex">
                    <input class="form-control mb-3" type="text" name="sujetoA" id="sujetoA" placeholder="Andres" value="<%= formData.sujetoA || '' %>" required>
                    <input class="form-control mb-3" type="text" name="sujetoB" id="sujetoB" placeholder="Erika" value="<%= formData.sujetoB || '' %>" required>
                    <input class="form-control mb-3" type="text" name="sujetoC" id="sujetoC" placeholder="Negocio" value="<%= formData.sujetoC || '' %>" required>
                </div> 
            </div>
            <div class="card-footer d-flex">
                <button class="form-control btn btn-primary" type="button" style="flex: 1; margin-right: 5px;" id="btnVaciar" name="btnVaciar">Vaciar</button>
                <button class="form-control btn btn-primary" type="submit" style="flex: 2;">Guardar Registro</button>
            </div>  
        </div>
    </form>
    <input id="valueMes" name="valueMes" type="text" value="<%= formData.mesCompra || '' %>" hidden>
    <input id="valueAnio" name="valueAnio" type="text" value="<%= formData.anioCompra  || '' %>" hidden>
</div>
<br><br>

<script type="module" src="/web/js/formularioRegistro.js"></script>

<%- include("../templates/pie") %>